.input {
  height: 2em;
  background-color: bisque;
}

.valid {
  border: 2px solid green;
  background-color: rgb(153, 251, 153);
}

.invalid {
  border: 2px solid red;
  background-color: lightpink;
}
